
.hello{
    clip-path: circle(94.4% at 16% 48%);
    background-image: url('../asset/pexels-cottonbro-4606336.jpg');
    background-size: cover;    
    height: 100%;
    width: 100%;

}

.lie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f1f5;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}